:root {
  --main-color:#000033;
  --text-color: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f8;
  
}

h1{
  color:var(--main-color);
}


.navbar {
  background-color: var(--main-color);
  background: linear-gradient(to right, #000033, #0c8b94);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 1px solid white;
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 10px 15px;
  display: flex;
  align-items: center;
}

.menu a i {
  margin-right: 5px;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 15px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.4s;
}

.menu-line {
  border-bottom: 1px solid white;
  width: 100%;
  margin: 5px 0;
}

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--main-color);
    background:linear-gradient(to right, #000033, #0c8b94);
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }

  .menu.active a {
    margin: 10px;
  }

  .menu.active .menu-line {
    margin: 5px 0;
  }

  .menu.active .menu-line:last-child {
    border-bottom: none;
  }

  .menu.active.show {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
  }

  .navbar {
    flex-direction: coulmn;
    align-items: flex-start;
  }

  .hamburger {
    display: flex;
  }

  .hamburger.cross .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger.cross .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.cross .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

.content-wrapper {
  margin-top: 200px;
  padding: 20px;
  margin-bottom: 0;
}

.center-text {
  text-align: center;
  color: var(--main-color);
}

.center-text h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.center-text p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.services-section {
  text-align: center;
  padding: 40px 20px;
}

.services-grid {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.service-box {
  flex: 0 0 calc(33.333% - 20px);
  margin: 10px;
  perspective: 1000px;
}

.glass-morphism {
  background:rgb(23, 31, 34,0.2);
  
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  padding: 20px;
  text-align: left;
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}

.glass-morphism:hover {
  transform: rotateX(10deg) rotateY(10deg);
}

.glass-morphism img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.service-box p {
  margin: 10px 0;
}

@media only screen and (max-width: 768px) {
  .services-grid {
    flex-wrap: wrap;
  }

  .service-box {
    flex-basis: calc(100% - 20px);
  }
}

.center-circles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -15%;
}

.technologies-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(150px, 1fr)
  ); /* Increased circle size */
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
  gap: 20px; /* Increased gap between circles */
}

.technology-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vh; /* Increased circle size */
  height: 20vh; /* Increased circle size */
  border:none;
  background:white;
  
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease;
}

.technology-circle:hover {
  transform: scale(1.1);
  background: linear-gradient(90deg, purple, blue, darkblue );
  background-size: 200% 200%;
  animation: gradientAnimation 1.5s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.technology-icon {
  font-size:4rem;
  color: white;
}

.language-name {
  font-size:0.8rem; /* Adjusted font size for language name */
  color:var(--main-color);
  margin-top: 10px;
  text-transform: uppercase; /* Converted language name to uppercase */
}



.technology-icon.gradient-color {
background: linear-gradient(45deg, yellow,blue);
-webkit-background-clip: text;
color: transparent;
}
.technology-we-use{
  margin-bottom: 10%;
}


@media only screen and (min-width: 769px) {
  .technologies-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .technology-circle{
    width:200px;
    height:200px;
  }
  .technology-we-use{
    margin-bottom: 10%;
  }
  .language-name {
    font-size: 1rem; /* Adjusted font size for language name */
     /* Converted language name to uppercase */
  }

  .technology-icon {
    font-size: 4rem;
    
  }

}

@media only screen and (max-width: 769px) {
  .technologies-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.why-choose-us-section {
  text-align: center;
  padding: 40px 20px;
  background-color: var(--main-color);
  background: linear-gradient(to right, #000033, #0c8b94);
  color: white;
}

.why-choose-us-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.why-choose-us-description {
  text-align: left;
}

.why-choose-us-description p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
}

.why-choose-us-description ul {
  list-style: none;
  padding: 0;
}

.why-choose-us-description li {
  margin-bottom: 10px;
}

.why-choose-us-image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.why-choose-us-image img {
  max-width: 100%;
  height: auto;
  transition: opacity 1s ease-in-out;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .why-choose-us-grid {
    grid-template-columns: 1fr;
  }
}

/* ... Previous CSS content ... */

.footer-section {
  background-color: var(--main-color);
  background: linear-gradient(to right, #000033, #0c8b94);
  color: white;
  padding: 20px;
  text-align: center;
  border-top: 1px solid white; /* New line */
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.social-icons {
  margin-bottom: 20px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.social-icons a i {
  font-size: 40px;
}

.social-icons a:hover {
  color: white; /* Change color on hover */
}
.hero-content{
  display: block;
  text-align :center;
  
}
.hero-content button{
  display: flex;
  padding:20px 80px;
  font-size:20px;
  color:white;
  background:linear-gradient(to right, #060f2b, #2297be);
  background-color:var(--main-color);
  border-radius:10px;
  outline:none;
  border:none;
  margin-top:0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 
  margin:0 auto;
}
.hero-content button:hover {
  transform: scale(1.1);
  background: linear-gradient(90deg, #060f2b, blue,purple, #2297be);
  background-size: 200% 200%;
  animation: gradientAnimation 1.5s ease-in-out infinite;
}

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366; /* WhatsApp green color */
  color: #fff;
  outline:none;
  border-radius: 50%;
  width: 50px; /* Equal width and height for a perfect circle */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background 0.3s, opacity 0.3s;
  opacity: 1; /* Initial opacity */
  -webkit-tap-highlight-color: transparent;
}
.whatsapp-icon:active,
.whatsapp-icon:focus {
  outline: none; /* Add this line to remove the outline on click or focus */
}
.phone{
  right:20px;
  bottom:80px;
  background: var(--main-color);
}


.whatsapp-icon:hover {
  background-color: #128C7E; /* Darker green on hover */
  outline:none;
}
.phone:hover{
  background: #2297be;

}
#mailer{
  
  color:white;
}
/* ... Remaining CSS content ... */